<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Lettuja Admin</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
