<style>
  img {
    display: block;
  }

  body {
    margin-left: 30px;
    margin-top: 30px;
  }

  .group {
    margin-bottom: 80px;
    font-family: sans-serif;
  }

  .group h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
  }

  .label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 2px;
    color: #666;
    display: block;
    margin-top: 30px;
  }

  .folder-input {
    width: 150px;
    font-size: 16px;
    -webkit-appearance: none;
    border: none;
    border-bottom: 2px solid black;
    padding: 7px 3px;
  }

  .folder-input:focus {
    outline: none;
  }

  .file-upload {
    border: none;
    background-color: white;
    appearance: none;
  }

  .btn {
    -webkit-appearance: none;
    background: none;
    border: 2px solid black;
    padding: 6px 18px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
  }

  .btn:active {
    position: relative;
    top: 1px;
    left: 1px;
   }

  .btn:focus {
    outline: none;
  }

  .uploaded-items li {
    list-style: none;
    margin-bottom: 1em;
  }

  .uploaded-items li:first-child {
    font-weight: bold;
  }
</style>

<section class="group">
<h2>Media Upload</h2>
<form id="image-upload" enctype="multipart/form-data">
  <label for="folder" class="label">Folder</label>
  <input name="folder" type="text" class="folder-input" value="{{date}}"><br><br>
  <!-- <label for="folder">Media file</label><br><br> -->
  <input name="image" type="file" class="file-upload">
</form>
<h4 class="label">Uploaded Images</h4>
<ul class="uploaded-items"></ul>
</section>

<section class="group">
<h2>Site</h2>
<input type="button" value="Generate" class="btn generate-btn">
</section>

<section class="group">
<h2>Logout</h2>
<a href="/logout">Logout</a>
</section>

<script>
function showUploaded(file) {
  var img = document.createElement('img');
  img.setAttribute('src', file.imagePath);
  img.style.width = '300px';
  var listItem = document.createElement('li');
  $(listItem)
    .append(file.markdownImagePath)
    .append(img);
  $('.uploaded-items').prepend(listItem);
}

function clearInput() {
  var $input = $('.file-upload');
  $input.replaceWith($input.val('').clone(true));
}

$('.file-upload').change(function () {
  var formData = new FormData($('#image-upload')[0]);
  $.ajax({
      url: '/upload',
      type: 'POST',
      success: function (response) {
        showUploaded(response);
        clearInput();
      },
      data: formData,
      //Options to tell jQuery not to process data or worry about content-type.
      cache: false,
      contentType: false,
      processData: false
  }, 'json');
});

$('.generate-btn').click(function () {
  var formData = new FormData($('#generator')[0]);
  $.ajax({
      url: '/generate',
      type: 'POST',
      success: function(response) {
        console.log(response);
      },
      data: formData,
      cache: false,
      contentType: false,
      processData: false
  }, 'json');
});

</script>
