<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lettuja Admin</title>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'>
  <link href="/admin/style.css" rel="stylesheet">
</head>
<body>
  {{{body}}}
</body>
</html>
