<section style="max-width: 70%; margin: auto;">
  <h2>Edit Document</h2>
  <form id="file-edit" action="/admin/save">
    <textarea style="width: 100%; height: 100%; border: 0; outline: none; font-size: 21px; line-height: 1.5;">{{{content}}}</textarea>
    <button type="submit">Save</button>
  </form>
</section>
