{{> header}}
<header class="title-nav row-1">
  <h1><a href="{{langPath}}">{{strings.authorName}}</a> <span class="title-nav-slash">/</span> <a href="{{langPath}}blog">{{strings.blog}}</a></h1>
</header>

<section class="single-entry row-1">
  {{#post}}
  <article class="entry">
    <header class="entry-header">
      <h1 class="entry-title">{{{title}}}</h1>
      {{#if subtitle}}<h2 class="entry-subtitle">{{{subtitle}}}</h2>{{/if}}
      {{#if cover}}<img src="{{cover}}" class="entry-cover">{{/if}}
    </header>

    <div class="entry-body content-area">
      {{{body}}}
    </div>

    <footer class="entry-footer">
      <time class="entry-timestamp">{{stringDate}}</time>
    </footer>
  </article>
  {{/post}}
</section>
{{> footer}}
