<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{#if isSingle}}{{rawTitle}}{{else}}{{title}}{{/if}}</title>
  <meta name="title" content="{{#if isSingle}}{{rawTitle}}{{else}}{{title}}{{/if}}">
  <meta name="description" content="{{strings.siteTitle}}">
  {{#if isSingle}}{{#post}}
  <meta property="og:url" content="{{absoluteLink}}">
  <meta property="og:title" content="{{rawTitle}}">
  {{#if subtitle}}<meta property="og:description" content="{{subtitle}}">{{/if}}
  {{#if cover}}<meta property="og:image" content="{{cover}}">{{/if}}
  <meta property="og:type" content="article">
  {{/post}}{{else}}
  <meta property="og:image" content="">
  <meta property="og:type" content="website">
  {{/if}}
  <meta property="og:site_name" content="{{strings.siteTitle}}">
  <meta property="fb:admins" content="638994307">
  <link rel="icon" type="image/png" href="">
  <link rel="alternate" type="application/rss+xml" title="{{strings.blogTitle}}" href="{{langPath}}blog-feed.xml">
  <link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|PT+Sans:400,700,400italic|Roboto:100,300|Roboto+Slab:300,400&subset=latin,cyrillic" rel="stylesheet">
  <link href="/assets/classic.css" rel="stylesheet">
</head>
<body{{#if slug}} class="{{slug}}"{{/if}}>
