{{>header}}
<header class="row-1">
  <nav class="title-nav" role="navigation">
    <h1 class="title-nav-header"> <a href="/">{{strings.authorName}}</a> <span class="title-nav-slash">/</span> <a href="{{langPath}}blog/">{{strings.blog}}</a></h1>
  </nav>
</header>

<section class="entry-list row-1" role="main">
  {{#each posts}}
  <article class="entry">
    <header class="entry-header">
      <h1 class="entry-title"><a href="{{relativeLink}}">{{{title}}}</a></h1>
    </header>
    <div class="entry-body content-area">
      {{#if excerpt}}
        {{{excerpt}}}
        <a href="{{relativeLink}}" class="read-link">{{../../strings.readmore}}</a>
      {{else}}
        {{{body}}}
      {{/if}}
    </div>
  </article>
  {{/each}}
  <a href="{{langPath}}archive/" class="archive-link">→</a>
</section>
{{>footer}}
